<!--addOfficeInventory.html-->

<!--Embed the header.html template at this location-->
{{ template "header.html" .}}
	<a href="/office/{{.location}}">cancel</a>
  <h1>{{.location}}</h1>
	<form method="POST" action="addInventory">
    <table>
    	<tr>
    		<th>Language</th>
    		<th>Item</th>
    		<th>Current Stock</th>
    		<th>Target Inventory Level</th>
        <th>Amount At Depot</th>
    		<th>Request</th>
    		<th>Item</th>
    		<th>Current Stock</th>
    		<th>Target Inventory Level</th>
        <th>Amount At Depot</th>
    		<th>Request</th>
    		<th>Item</th>
    		<th>Current Stock</th>
    		<th>Target Inventory Level</th>
        <th>Amount At Depot</th>
    		<th>Request</th>
    	</tr>
    {{range .payload }}
    	<tr>
    		<td>{{.Language}}</td>
	    	<td>Books</td>
	    	<td>{{.Books}}</td>
        <td>{{.BooksGoal}}
	    	<td>{{.DepotBooks}}</td>
	    	<td><input type="text" name="{{.Location}}-{{.Language}}-Books" maxlength="5" size="4"></td>
	    	<td>Brochures</td>
	    	<td>{{.Magazines}}</td>
        <td>{{.MagazinesGoal}}
	    	<td>{{.DepotMagazines}}</td>
	    	<td><input type="text" name="{{.Location}}-{{.Language}}-Magazines" maxlength="5" size="4"></td>
	    	<td>Bibles</td>
	    	<td>{{.Bibles}}</td>
        <td>{{.BiblesGoal}}</td>
	    	<td>{{.DepotBibles}}</td>
	    	<td><input type="text" name="{{.Location}}-{{.Language}}-Bibles" maxlength="5" size="4"></td>
	    </tr>
  	{{end}}
  	</table>
  	<br><br>
  	<input type="submit" value="Submit">
  	</form>


<!--Embed the footer.html template at this location-->
{{ template "footer.html" .}}