<!--editOfficeInventory.html-->

<!--Embed the header.html template at this location-->
{{ template "header.html" .}}
	<a href="/office/{{.location}}">cancel</a>
	<h1>Inventory Targets</h1>
	<form method="POST" action="saveInventoryGoal">
    {{range .payload }}

      <h2>{{.Language}}</h2>
	    Books: &nbsp<input type="text" maxlength="5" size="4" name="{{.Location}}-{{.Language}}-BooksGoal" value={{.BooksGoal}}>&nbsp&nbsp Magazines: &nbsp<input type="text" maxlength="5" size="4" name="{{.Location}}-{{.Language}}-MagazinesGoal" value={{.MagazinesGoal}}>&nbsp&nbsp Bibles: <input type="text" maxlength="5" size="4" name="{{.Location}}-{{.Language}}-BiblesGoal" value={{.BiblesGoal}}>
  	{{end}}
  	<br><br>
  	<input type="submit" value="Submit">
  	</form>


<!--Embed the footer.html template at this location-->
{{ template "footer.html" .}}