<!--addOfficeInventory.html-->

<!--Embed the header.html template at this location-->
{{ template "header.html" .}}
<header><h1>{{.office}} - {{.title}}</h1></header>
{{$office:=.office}}
{{$location:=.location}}
	<a href="/office/{{.office}}">Back</a> &nbsp &nbsp
  <a href="/location/{{.office}}/{{.location}}/createReport">Create Report</a>
    <table>
    	<tr>
    		<th>Date</th>
    	</tr>
    {{range $p := .payload }}
    	<tr>
    		<td><a href="/location/{{$office}}/{{$location}}/editReport/{{$p.ReportID}}">{{$p.ReportDate}}</a></td>
	    </tr>
      <tr><td>
      {{range $key, $value := $p.Report}}
        <p>{{$key}}:&nbsp {{$value}} </p>
      {{end}}
      </td></tr>
  	{{end}}
  	</table>


<!--Embed the footer.html template at this location-->
{{ template "footer.html" .}}