<!--officeInventory.html-->

<!--Embed the header.html template at this location-->
{{ template "header.html" .}}
	<a href="/office/{{.location}}/editInventory">Edit Inventory</a> &nbsp&nbsp
	<a href="/office/{{.location}}/addInventory">Add Inventory</a> &nbsp&nbsp
	<a href="/office/{{.location}}/inventoryLog">Inventory Log</a>
	<h3>{{.errorMessage}}<h3>
	<h1>{{.location}}</h1>
    {{range .payload }}
	      <!--Display the title of the article -->
	      <h2>{{.Language}}</h2>
	    Books: {{.Books}} Magazines: {{.Magazines}} Bibles: {{.Bibles}}
  	{{end}}


<!--Embed the footer.html template at this location-->
{{ template "footer.html" .}}